@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300;400&family=Varela+Round&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.margin-top1 {
    margin-top: 30px;
}

.margin-top2 {
    margin-top: 15px;
}

.margin-top3 {
    margin-top: 10px;
}

.margin-top4{
    margin-top: 5px;
}

.padding-1 {
    padding: 10px;
}

.padding-left {
    padding-left: 10px;
}

.line-height {
    line-height: 1.6;
}

.para {
    display: flex;
}

body{
    background-color: #1a86bc;
}

.full {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .content {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content .city {
    display: flex;
    flex-wrap: wrap;
}

.city .london {
    flex: 50%;
}

.city .newyork {
    flex: 50%;
}

.container .form {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myForm {
    width: 80%;
}

#myForm div input {
    width: 100%;
    padding: 10px;
}

#myForm div textarea {
    width: 100%;
    padding: 10px;
    resize: none;
}

#btn {
    background-color: #79bc0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    height: 25px;
}

#btn:hover {
    background-color: red;
}

.finalDiv {
    color: green;
    font-weight: bold;
    display:none;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .full {
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) { 
    .container {
        flex-direction: column;
    }

    .container .content {
        width: 80%;
    }

    .container .form {
        width: 80%;
    }
}